{% extends 'core.html' %}
{% load crispy_forms_tags %}

{% block title %}
Home Page
{% endblock title %}


{% block content %}

<style>
    table {
        border: 5px solid black;
    }

    thead {
        border: 3px solid green;
    }

    td,
    th {
        border: 2px dashed red;
        padding: 5px;
        width: fit-content;
    }
</style>

<h3>Ravikumar Pande</h3>
<hr />
<div class="container p-auto ms-0 w-50">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </form>
</div>

<hr />

<div class="container p-auto m-auto w-auto">
    {% if sales_df %}
    <h4>Sales DataFrame</h4>
    {{ sales_df|safe }}
    {% endif %}
</div>

<hr />

<div class="container p-auto m-auto w-auto">
    {% if positions_df %}
    <h4>Positions DataFrame</h4>
    {{ positions_df|safe }}
    {% endif %}
</div>

<hr />

<div class="container p-auto m-auto w-auto">
    {% if merged_df %}
    <h4>Sales - Positions DataFrame</h4>
    {{ merged_df|safe }}
    {% endif %}
</div>

<hr />

<div class="container p-auto m-auto w-auto">
    {% if chart %}
    <img src="data:image/png;base64, {{ chart|safe }}" alt="chart not available!">
    {% endif %}
</div>

{% endblock content %}